@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-image: url("images/images.jpg");
    background-size: 64px;
    user-select: none;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#matrixContainer {
    display: flex;
    flex-direction: column;
}

header {
    padding-bottom: 5px;
    display: none;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 4rem !important;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainMenu {
    margin-top: 20rem;
    width: 55rem;
    height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#woodCount
{
    margin-right: 2rem;
}

#pickaxePower
{
    margin-right: 2rem;
}

#axePower
{
    margin-right: 2rem;
}

#sellButton {
    font-size: 2rem;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#sellButton:hover {
    font-size: 2.2rem;
    cursor: pointer;
}

#sleepButton {
    font-size: 2rem;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#sleepButton:hover {
    font-size: 2.2rem;
    cursor: pointer;
}

#mainMenu button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
}

#mainMenu button:hover {
    border: solid;
    background-color: rgba(255, 255, 255, 0.411);
}

#logo {
    width: 55rem;
    height: 10rem;
}

header {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}

.countContainer {
    display: flex;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    font-size: 1.3rem;
    font-weight: 80;
}

.countContainer img {
    height: 4rem;
    width: 4rem;
}

.moneyCountContainer {
    display: flex;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    font-size: 1.3rem;
    font-weight: 80;
}

.moneyCountContainer img {
    height: 4rem;
    width: 4rem;
}

img[name="tree"]:hover {
    background-color: rgba(255, 255, 255, 0.418);
    cursor: url("images/axe.png"), auto;
}

img[name="rock"]:hover {
    background-color: rgba(255, 255, 255, 0.418);
    cursor: url("images/pickAxe.png"), auto;
}

#upgradeContainer {
    width: 8.3rem;
    background-color: rgba(0, 0, 0, 0.562);
    border-top-right-radius: 2rem;
    height: fit-content;

}

.upgrade {
    padding: 2rem;
}

.upgradeTitle {
    color: rgb(251, 255, 0);
}

.moneyCostText
{
    font-size: 1rem;
    font-family: "VT323", monospace;
    font-weight: 700;
    font-style: normal;
    color: greenyellow;
}

.upgradeButton
{
    font-size: 2rem;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}